.cv-education {
}
.cv-education__title {
    margin-bottom: 10px;
}
.cv-education__item {
}
.cv-education__name {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
.cv-education__years {
    display: block;
    margin-bottom: 5px;
}
.cv-education__faculty {
    display: block;
}
